extends layout.pug

block content
    if photos
        .photo-wrapper.mt-2
            each photo in photos
                img.photo-item.ml-1(src=`${photo}`)
    div(class="container")
        .container-md
            h1 #{business.name}
            //- Create the ratings
            div(class="stars-business")
                span.business-star
                span.business-star
                span.business-star
                span.business-star
                span.business-star
            div
                p #{business.phoneNum}
                p #{business.description}
            .address
                p #{business.address}
            button.btn.btn-secondary(type="button" id="write-a-review-button") Write a Review
        .review-section
    script(type="module" src="/js/business.js")
    script(type="module" src="/js/navbar-search.js")